In [9]:
#1. 왕의 충성스런 신하는 아래와 같다. 왕의 신하가 총 몇 명인지 구하라.
신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31
}

# 나의 답 :
sum(신하.values())

# 강사의 답 :
for i in 신하:
    print(f'{i} : {신하[i]}')
    모든_신하의_합 += 신하[i]

print(모든_신하의_합)

1543

In [13]:
# 2. 이웃 왕국의 침략이 있어 출전 준비를 해야한다.
# 100명 이상인 좋은 출전을 100명 이하인 종은 왕국을 수호
# 출전 신하는 몇 명이고, 왕국을 수호하는 신하는 몇 명인가?

신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31
}

# 나의 답
출전_신하 = 0
수호_신하 = 0
모든_신하의_답 = 0

for i in 신하 :
    if 신하[i] >= 100 :
        출전_신하 += 신하[i]
    else :
        수호_신하 += 신하[i]
print(출전_신하)
print(수호_신하)

# 강사의 답:
print(f'모든_신하의_합: {모든_신하의_합}')
print(f'출전_신하 : {출전_신하}')
print(f'수호_신하 : {수호_신하}')
print(모든_신하의_합  == 출전하는_신하 + 왕국을_수호하는_신하)

1362
181

In [24]:
# 3. 침략을 방어하고, 출전 했던 신하들은 각각80%라는 손실을 입음
# 왕국을 수호하는 신하까지 총 얼마의 신하가 남아있나요

신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31
}

# 나의 답
출전_신하 = 0
수호_신하 = 0

for i in 신하 :
    if 신하[i] >= 100 :
        출전_신하 += 신하[i]
    else :
        수호_신하 += 신하[i]

print('돌아온 출전 신하',int(출전_신하 * 0.2))
print('돌아온 수호 신하',int(수호_신하 * 0.2))
print('남은 전체 신하',int(수호_신하 * 0.2)+int(출전_신하 * 0.2))

# 강사의 답

출전_신하 = 0
수호_신하 = 0
출전_후_돌아온_신하 = 0

for i in 신하 :
    if 신하[i] >= 100 :
        출전_신하 += 신하[i]
        출전_후_돌아온_신하 += 신하[i] * 0.2
    else :
        수호_신하 += 신하[i]

print(출전_신하)
print(수호_신하)
print(f'출전_후_돌아온_신하 : {int(출전_후_돌아온_신하)}',)
print(f'사상자 : {출전_신하 - int(출전_후_돌아온_신하)}')
print('남은 전체 신하',int(수호_신하)+int(출전_후_돌아온_신하 * 0.2))

1362
181
출전_후_돌아온_신하 : 272
사상자 : 1090
남은 전체 신하 235