# 1. 입력함수 input

## 1.1 input 실습 - 1

In [1]:
input('입력해주세요')

입력해주세요kaka

'kaka'

In [2]:
input('입력해주세요') # 이상한값이 나올수 있음

입력해주세요333

'333'

In [4]:
int(input('입력해주세요'))

입력해주세요3

3

## 1.2 input 실습 - 2

input으로 받은 값을 변수에 할당

In [5]:
name = input("이름을 입력해주세요")

이름을 입력해주세요임재철

In [6]:
print("Hello, " + name + "!")

Hello, 임재철!

In [7]:
# input을 활용한 덧셈 - 문자열인 경우
a = input("첫번째 숫자를 입력해주세요")
b = input("두번째 숫자를 입력해주세요")

print("a + b = ", a+b, " 입니다." )

첫번째 숫자를 입력해주세요34
두번째 숫자를 입력해주세요56
a + b =  3456  입니다.

In [8]:
# input을 활용한 덧셈 - 숫자열인 경우
a = int(input("첫번째 숫자를 입력해주세요"))
b = int(input("두번째 숫자를 입력해주세요"))

print("a + b = ", a+b, " 입니다." )

첫번째 숫자를 입력해주세요45
두번째 숫자를 입력해주세요62
a + b =  107  입니다.

#2. 출력함수 Print

In [10]:
# 1. 여러줄 출력

'출력합니다.'
'출력안합니다'

'출력안합니다'

In [11]:
# 2. 여러값 출력

print("hello", "world", "!")

hello world !

In [12]:
# 3. sep 구분자

print("hello", "world", "!", sep = "-")

hello-world-!

In [13]:
# 3. sep 구분자 / end 구분자

print("hello", "world", "!", sep = "-", end = "!!!")

hello-world-!!!!

In [14]:
# 4. f-string
# 4.1 f-string에서 f가 없을때
name = 'licat'
age = 10
print('제 이름은 {name}, 제 나이는 {age} 입니다.')

제 이름은 {name}, 제 나이는 {age} 입니다.

In [15]:
# 4.2 f-string에서 중괄호가 없을때
name = 'licat'
age = 10
print(f'제 이름은 name, 제 나이는 age 입니다.')

제 이름은 name, 제 나이는 age 입니다.

In [16]:
# 4.3 f-string을 제대로 사용했을때
name = 'licat'
age = 10
print(f'제 이름은 {name}, 제 나이는 {age} 입니다.')

제 이름은 licat, 제 나이는 10 입니다.

In [17]:
# 4.4 예시
name = input("이름을 입력해주세요")
age = int(input("나이를 입력해주세요"))

print(f'제 이름은 {name}, 제 나이는 {age} 입니다.')

이름을 입력해주세요343
나이를 입력해주세요223
제 이름은 343, 제 나이는 223 입니다.

In [18]:
# 5. None

a = None

In [19]:
a

In [20]:
print(a)

None