In [3]:
# 문제 9 : 다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep ='/', end = " ")
print(hour, minute, second, sep =':')

2019/04/26 11:34:27

In [7]:
# 문제15 : 자기소개

name = input()
print(f'안녕하세요. 저는 {name}입니다')

김다정
안녕하세요. 저는 김다정입니다

In [8]:
# 문제 23 : print(10/2)의 출력 결과는 5이다. X
print(10/2)

5.0

In [14]:
# 문제 39번 문장이 입력되면 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성해 주세요.

# 입출력

# 입력 : querty
# 출력 : euerty

# 입력 : hqllo my bamq is hyqwob
# 출력 : hello my bame is hyewob

def trans(seq) :
    seq = seq.replace("q","e")
    seq = seq.replace("b","n")
    return seq

trans("hqllo my bamq is hyqwob")
trans("querty")


```
# 강사의 답
data = input()

print(data.replace('q', 'e').replace('b', 'n')).
```

'euerty'