# 문제 14번

data의 코드를 보고 정렬하는 문제인데, 출력값에는 끝 숫자자리로 보는 줄 알았더만, 답은 위치코드 전체였다.

그래도 두가지 답 다 쓰기

In [ ]:
def solution(data) : # 앞문자 정렬

    sorted_keys = sorted(data.keys())

    result = [data[i] for i in sorted_keys]

    return result

solution({'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'})

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
def solution(data) : # 뒷 숫자코드 정렬

    sort_keys = sorted(data, key = lambda x : x[2:])
    result = [data[i] for i in sort_keys]

    return result

solution({'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'})

['To Kill a Mockingbird', 'Moby Dick', '1984']

key에 대한 정렬한 변수들을 for문으로 돌려, 그에대한 값을 도출하는 문제이다.

data.keys()

sorted(data, key = lambda x : x[2:])

# 15번 문제
이건 다음에 풀자

문제 자체가 뭐가 뭔지 잘 모르겠다

['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM'] 데이터는 이러한데

13시 ~ 23시는 다시 01 ~ 11시 PM이고

서로 맞닿은 자정 00시는 12: 00 AM으로 통일하는 요상한 시계다

처음에는 뤼튼 형님한테 물어보았으나, datetime으로 그냥 풀기에 datetime 없이 그냥 풀어달라고 했더니 오류 투성이길래 직접 한번 해봤다.

근데 ['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM'] 이건 어떻게 시간 순으로 정렬하나요 ㅠㅠ

In [ ]:
# datetime 사용

def solution(data):
    import datetime # 이 모듈은 Python에서 날짜와 시간을 처리하는 데 필요한 기능을 제공

    time_objects = [datetime.datetime.strptime(time, "%I:%M %p") for time in data] # data 인자로 받은 시간 문자열 목록을 datetime 객체로 변환합니다. 시간 형식은 %I 12시간 형식의 시간, %M 분, %p는 AM/PM을 나타냅니다.

    # datetime 오브젝트를 정렬합니다.
    sorted_time_objects = sorted(time_objects)
    # sorted 함수를 사용해 datetime 객체를 정렬합니다. Python의 datetime 객체는 날짜와 시간에 따라 자동으로 정렬됩니다.

    # datetime 오브젝트를 다시 문자열로 변환합니다.
    return [time.strftime("%I:%M %p") for time in sorted_time_objects]
    #

In [ ]:
# 직접 풀어보자

def solution(data):
    for i in range(len(data)):
        time = data[i]
        if int(time[:2]) >= 12 and int(time[:2]) <= 23 and 'PM' in time:
            data[i] = '0' + str(int(time[:2]) - 12) + time[2:]
        elif int(time[:2]) == 0 and "AM" in time:
            data[i] = '12' + time[2:]
    return sorted(data)

solution(['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM'])

# 여기서 정렬을 어떻게 하나요

['00:45 PM', '01:00 PM', '09:00 AM', '11:30 AM', '12:00 AM']

# 문제 16번

for문으로 리스트 원소 변경하기

for문으로 해당 time을 바꾸고, data도 바꾸면 답이 나오지 않을까 생각했는데, 답이 복사가 된 경우다.

왜 그렇지 않을까??? 그냥 외우자

In [ ]:
def solution(data) :
    for time in data :
        if '-' in data :
            day, month, year = time.split('-')
            time = f'{year}/{month}/{day}'
        elif '/' in time :
            month, day, year = time.split('/')
            time = f'{year}/{month}/{day}'
        elif '.' in time :
            time = time.replace('.', '/')
    return sorted(data)

solution(['20-01-2024', '12/15/2023', '2022.05.30'])

['12/15/2023', '20-01-2024', '2022.05.30']

1) 뤼튼 형님한테 물어보니 그냥 이렇게 하라고 하더라..

이중 함수를 써서 리스트로 아예 return 값을 받아버리는 스킬 very nice 합니다

In [ ]:
def solution(data):
    # 날짜를 '연/월/일' 형식으로 변환하는 함수를 정의합니다.
    def convert_date(date):
        if '-' in date:
            day, month, year = date.split('-')
            return f'{year}/{month}/{day}'
        elif '/' in date:
            month, day, year = date.split('/')
            return f'{year}/{month}/{day}'
        elif '.' in date:
            return date.replace('.', '/')

    # 각 날짜를 '연/월/일' 형식으로 변환하고 오름차순으로 정렬합니다.
    return sorted([convert_date(date) for date in data])

solution(['20-01-2024', '12/15/2023', '2022.05.30'])

['2022/05/30', '2023/12/15', '2024/01/20']

2) 내가 원하는 방법은 굳이 함수 2개를 안 쓰고 원하는 답이 나오는 것이다.

방법은 in에 data의 len을 넣는다.

그리고 time 변수를 따로 만들어 data의 인덱싱을 한다.

if 문을 통해 time값을 잘라 나가는 것이다.

고로 data[i]에 원하는 꼴로 값을 넣는다.

In [ ]:
def solution(data):
    for i in range(len(data)):
        time = data[i]
        if '-' in time:
            day, month, year = time.split('-')
            data[i] = f'{year}/{month}/{day}'
        elif '/' in time:
            month, day, year = time.split('/')
            data[i] = f'{year}/{month}/{day}'
        elif '.' in time:
            data[i] = time.replace('.', '/')
    return sorted(data)

solution(['20-01-2024', '12/15/2023', '2022.05.30'])

['2022/05/30', '2023/12/15', '2024/01/20']

# 문제 17번

문제 설명 : value값에 있는 list를 for문 items를 활용해서 day, dates 나누고 그다음 다시 for문을 사용해 dates를 문제에서 원하는 꼴로 변경시키고 새로운 list에 넣는다.

그다음, sorted, 슬라이싱 하면 끝

In [18]:
def solution(data) :
    po = []
    for day, dates in data.items() :
        for date in dates :
            date = date[2:]
            po.append(date + " " + day)

    po_sorted = sorted(po, reverse = True)
    result = po_sorted[:3]
    return result

solution({'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'], '화': ['2024-01-02', '2024-01-09', '2024-01-16'],
 '수': ['2024-01-03', '2024-01-10'], '목': ['2024-01-04', '2024-01-11', '2024-01-18'],
 '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-24']})

['24-01-24 금', '24-01-22 월', '24-01-19 금']

굳이 이중 for문을 써야 하나 한번 dates 그대로 po에 넣을 수 있는지 봤는데

can only concatenate list (not "str") to list

dates가 list라서 못 넣는단다,
day는 str 인걸로 확인

In [ ]:
po = []
data = {'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'], '화': ['2024-01-02', '2024-01-09', '2024-01-16'],
 '수': ['2024-01-03', '2024-01-10'], '목': ['2024-01-04', '2024-01-11', '2024-01-18'],
 '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-24']}

for day, dates in data.items():
    po.append(dates+ " " + day)
print(po)
# sorted_schedules = sorted(po, reverse = True)
# recent_schedules = sorted_schedules[:3]

# 문제 18번

data의 type은 dict

dict.items()의 type은 dict_items

dict_items의 세부 요소는 tuple

key=lambda x: x[1]라면, tuple(첫번쨰 요소temp)

In [ ]:
def solution(temperature_data):
    sorted_temperatures = sorted(temperature_data.items(), key=lambda x: x[1], reverse=True)
    top_3_temperatures = sorted_temperatures[:3]
    result_temp = []
    for item in top_3_temperatures :
        result = item[0][2:] + ": " + str(item[1])
        result_temp.append(result)
    return result_temp
solution({'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18})

x는 각 튜플을 의미하며, x[0]은 날짜, x[1] 기온이고, reverse = True이기 때문에 최고기온이 앞에 오는걸 볼 수 있다

In [ ]:
data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
sorted_temperatures = sorted(data.items(), key=lambda x: x[1], reverse=True)

# 문제 19번

1) result에 type(i).__name__ 을 사용해 데이터 타입을 보는 방법

2) type(i)에 str로 씌어서 분리가 가능하게 만들고, 분리해서 쓰는 방법, 재치있었음.

(str(type(i)).split("'")[1])

In [6]:
def solution(data) :
    result = []
    for i in data :
        result.append(type(i).__name__)
    return result

solution([123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}])

['int', 'float', 'str', 'list', 'tuple', 'dict']

In [31]:
def solution(data):
    result = []
    for item in data:
        result.append(str(type(item)).split("'")[1])
    return result

solution([123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}])

['int', 'float', 'str', 'list', 'tuple', 'dict']

# 문제 20번

In [18]:
def solution(data) :
    po = []
    for i in data :
        if type(i[1]).__name__ == i[0] :
            po.append(True)
        else :
            po.append(False)
    print(po)


    if all(po) is True :
        return True
    else :
        return False

solution([('list', [1, 2, 3]), ('int', 4), ('str', 'hello')])

[True, True, True]

True

# 문제 21번

In [36]:
def solution(data):
    try:
        return data[0].index(data[1])
    except ValueError:
        return False

solution(([1, 3, 5, 7, 9], 6))

False

# 문제 22번

21번이랑 똑같네??

In [42]:
def solution(data):
    try :
        return data[0].index(data[1])
    except ValueError :
        return False

solution(('world', 'a'))

False

# 문제 23번

나의 답에서 오답인 이유는,

내 예상은 True가 나오면 바로 for문 탈출인줄 알았는데,

첫 번째 순회가 False가 되버리면 바로 False 값이 나오고 for문이 종료 된다.

고로, else문을 지우고 첫번째 for문에 return False를 입력하자

In [14]:
# 나의 답 : 오답
def solution(data) :

    for i in data[0] :
        for k in i :
            if k == data[1] :
                return True
            else :
                return False


solution(([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7))

False

In [10]:
# 해답
def solution(data):
    target = data[1]
    array = data[0]

    for row in array:
        for n in row:
            if target == n:
                return True
    return False

False

# 문제 24번

누적 합에 관련된 문제이다.

이중 for문이 떠올라 힘들게 했지만 뤼튼 형님의 말을 들어보자

1)max 함수를 이용하자

: 솔직히 뭔 말인지 모르겠다.

2) 이중 for문 사용하자.

생각하던 로직이라 바로 이해가 되었다

i와 j를 어떻게 구성하는게 제일 큰 관건인데,

여기서는 두 번째 for문에서 i와 j를 함께 썼다.

range(i, len(data))를 활용해, j의 시작점을 i의 변수가 바뀔때마다 변경하게 만들었고

max함수를 통해 값 비교를 하며 최댓값을 max_sum에 갱신 시켰다.

그래도 끝까지 고민하고 뤼튼 형님한테 물어보니 더욱 이해가 되고 재미가 있다.

In [ ]:
# 1) max로 활용해서 문제 풀기
def solution(data):
    max_sum = data[0]
    current_sum = 0

    for n in data:
        #print(f'**{n}**')
        current_sum = max(current_sum + n, n)
        #print(current_sum)
        max_sum = max(max_sum, current_sum)
        #print(max_sum)
    return max_sum

solution([1, -2, 3, 4, -1, 2, 1, -5, 4])

In [ ]:
# 2) 2중 for문 사용하기

def solution(data):
    max_sum = float('-inf')

    for i in range(len(data)):
        #print(f'i는 : {i}')
        current_sum = 0
        for j in range(i, len(data)):
            current_sum += data[j]
            #print(f'더하는 값 : {data[j]}')
            max_sum = max(max_sum, current_sum)
            #print(f'현재 max : {max_sum}')

    return max_sum


solution([1, -2, 3, 4])

In [ ]:
#나의 오답
data = [1,2,3]
for i in range(len(data)) :
    sum = data[i]
    print(f'다시 시작 : {sum}')
    for k in range(len(data)) :
        print(data[k])
        #print((len(data) - i))