## 문제 8번

1. float('inf')
양의 무한대를 뜻함, 음의 무한대는 float('-inf')
최소값을 구하는 문제가 나올 때 유용하게 쓰임,
데이터의 범위를 사전에 알 수 없는 상황에서 유용



data[1] - data[0]

data[2] - data[1]

data[3] - data[2]

이런식으로 최솟값을 찾아야 가는 과정이기에, 이에 따른 for문 코딩해야함 (len(data) -1)

In [ ]:
# 8번 해답

def solution(data):
    data.sort()  # 점들을 오름차순으로 정렬
    min_distance = float('inf')  # 가장 작은 거리를 무한대로 초기화
    result_pair = None  # 가장 가까운 쌍을 None으로 초기화

    for i in range(len(data) - 1):  # 각 점을 순회
        distance = data[i+1] - data[i]  # 인접한 점들 사이의 거리를 계산
        if distance < min_distance:  # 만약 이 거리가 현재 가장 작은 거리보다 작다면
            min_distance = distance  # 이 거리를 가장 작은 거리로 갱신
            result_pair = [data[i], data[i+1]]  # 이 쌍을 가장 가까운 쌍으로 갱신

    return result_pair  # 가장 가까운 쌍을 반환


# 나의 답

def solution(data):
    data.sort() # 정렬
    return_pair = 0 # 결과값
    min_distance = float('inf') # 비교 최소 거리

    for i in data :
        distance = data[i+1] - data[i]
        if distance < min_distance :
            min_distace = distance
            return_pair = [data[i], data[i+1]]
    return return_pair

solution([1, 3, 4, 6])

## 문제 9번

dict['수'] 해서 값 비교 sorted를 사용하지 않고 if절을 이용해 값을 비교

이에 대한 1등에 대한 로그가 필요함

궁금증 : 2개 None값으로 하면 어떨까?

값 비교 에서 None은 값 비교가 안되기에 에러

감상 : for과 if문의 조합은 대단하다

In [21]:
def solution(data):
    first_student = ''
    first_score = 0

    for i in data :
        if i['수']> first_score :
            first_score = i['수']
            first_student = i['이름']

    return first_student
# solution([{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}])

# 궁금증
def solution(data) :
    최고수학자 = None
    최고수학자의점수 = None

    for i in data :
        if i['수'] > 최고수학자의점수 :
            최고수학자의점수 = i['수']
            최고수학자 = i['이름']

    return 최고수학자

solution([{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}])

'A'

In [43]:
data = [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]
high_value_student = []

for i in data :
    scores = sum(i[1:5])
    #print(scores)
    if scores >= 350 :
        high_value_student.append(i[0])

print(sorted(high_value_student))

['Allosa', 'Gray']

## 문제 10번

과제에서 2번정도 푼 문제인데, 도움없이 풀다가 sort에서 막힘

In [4]:
# 답은 이건데

def solution(data) :
    high_value_student = []

    for i in data :
        scores = sum(i[1:5])
        if scores >= 350 :
            high_value_student.append(i[0])

    high_value_student.sort()
    return high_value_student

solution([['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]])

['Allosa', 'Gray']

In [9]:
# 처음에 생각한 답

def solution(data) :
    high_value_student = []
    for i in data :
        scores = sum(i[1:5])
        if scores >= 350 :
            high_value_student.append(i[0])

    return high_value_student.sort()

solution([['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]])

In [11]:
# 이건 왜 되는 걸까

def solution(data) :
    high_value_student = []
    for i in data :
        scores = sum(i[1:5])
        if scores >= 350 :
            high_value_student.append(i[0])

    return sorted(high_value_student)

solution([['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]])

['Allosa', 'Gray']

## 문제 11번

넘파이 사용해서 풀었는데 이렇게 하면 안되나??
No module named 'numpy'

In [ ]:
import numpy as np

def solution(data) :

    count = 0

    for i in data :
        if np.mean(i)>= 80 :
            count += 1

    return count

solution([[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]])

In [ ]:
# 이래도 되는구나

import numpy as np

def solution(data) :

    count = 0

    for i in data :
        mean_score = sum(i)/len(i)
        if mean_score >= 80 :
            count += 1

    return count

solution([[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]])

## 문제 12번

In [ ]:
def solution(data):
    addresses = data[0]
    postal_codes = data[1]
    sorted_addresses = sorted(addresses, key=lambda address: postal_codes[address.split()[1]])
    return sorted_addresses

solution([['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}])

다 이해되는데

GPT형님이 key값을 저렇게 만들어주셨는데

lambda x: postal_codes[x.split()[1]]

이게 이해가 너무 어렵다.

한 번 분해해보자,

In [44]:
a = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]

k = a[0]

for i in k :
    town = i.split()[1]
    print(town)

A동
B동
C동

애초에 이 코드 작성해도 이상한 오류가 나와서 안됐는데

지금은 되는거 보니 코딩때문에 머리가 아플때에는 좀 쉬고 오면 좋을 듯 하다

key값 처럼 a[1]와 결합시켜보자

In [47]:
a = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]

k = a[0]
t = a[1]


for i in k :
    town = i.split()[1]
    merge_town = t[town]
    print(town)
    print(merge_town)

A동
63007
B동
63010
C동
63002

이로써, 리스트에 있는 값을, 딕셔너리 Key값과 비교해서 정렬을 시킬 때, 해법을 알게 되었다.

1) 리스트 있는 값을 추출하고 변수에 저장 시킨다

2) 그 값을 딕셔너리에 인덱싱으로 쓴다

merge_town = t[town]

sorted(address, key = lambda x : x[i.split()[1]])

고로 이렇게 하면 우편번호의 오름차순을 주소 값을 정렬 할 수 있다.

어려워라 ;;

여기서 x는 for문의 i 처럼 address의 매개변수를 말한다

## 문제 13번

12번 문제에서 트레이닝 했으니 바로 ok

In [50]:
def solution(data) :
    movie_name = data[0]
    movie_year = data[1]
    result = sorted(movie_name, key = lambda movie : movie_year[movie])
    return result

In [60]:
data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

# data.keys()

location_list = []
#movie_list = [] movie_list를 만들려면 꼴을 만들어서 비교하는 방법으로 해야할 듯 하다

for key, values in data.items() :
#    movie_list.append(values)
    location_list.append(key)

print(location_list)
sort_movie_location = sorted(movie_list, key = lambda locate : data[locate])
print(sort_movie_location)

['AX21', 'BX32', 'CX14']
['BX32', 'AX21', 'CX14']