# Top3 - 1. map에서 사용

In [ ]:
add = lambda x, y : x + y

In [ ]:
# 코드가 이해가 안된다 -> 이해할려고 노력하는 것 보다는
# 예제를 30개 정도 만들어보시는 것을 권함
# Django 어려우면 30개 만들라
# lambda 어려우면 30개 만들라

In [ ]:
x = 10
y = True if x % 2 == 0 else False

y

# 재사용 할 것이면 이렇게 함수로

def 제곱(x) :
    return x ** 2

list(map(제곱, [1,2,3,4]))

In [ ]:
# 재사용 하지 않을 것이면 이렇게 lambda로!
# lambda가 실무에서 좀 더 많이 사용 됩니다
# 수식이 복잡해지면 재사용과 별개료 lambda로 했을 경우 가독성이 떨어지는경우
# 이럴 때에는 함수로 뺴기도 합니다

list(map(lambda x : x **2, [1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x : True if x % 2 == 0 else False, [1,2,3,4])) # 마스킹 필터링

[False, True, False, True]

# Top3 - 2.filter사용

In [ ]:
# filter는 True 인 것만 출력합니다
list(filter(lambda x : x % 3 == 0, range(100)))

In [ ]:
list(filter(lambda x : x> 50 and x< 80, range(100)))

In [ ]:
list(filter(lambda x : True if x % 3 == 0 or x % 5 == 0 else False, range(100))) #3의 배수 5의 배수

In [ ]:
# list(filter(lambda x : x % 2 == 0 , range(100)))
list(filter(lambda x : x % 2, range(100))) # 홀수를 ?

In [ ]:
list(lambda x : x % 2, range(100)) # lambda를 출력할려면?

### 원래 람다 함수는요

In [ ]:
홀수 = lambda x, y : x + y
홀수(3,5)

In [ ]:
test = lambda i:i % 2 == 0
[test(i), ]

# Top3 - 3. sorted에서 사용

In [ ]:
sorted() # key, reverse 옵션을 정말 정말 많이 사용합니다
# 알고리즘 문제에서 단골 문제이고, sorted 문제는 1 문제는 거의 출제된다고 보시면 됩니다.
# 최댓값
# 최솟값
# 카카오테스트는 LEV 4 까지 준비하면 됩니다

In [ ]:
# 아래와 같은 형식으로 반별 점수가 주어진다면

반별점수 = [
    ['이름','국어','영어','수학'],
    ['이름','국어','영어','수학'],
    ['이름','국어','영어','수학'],
    ['이름','국어','영어','수학'],

]

In [ ]:
# 아래와 같은 형식으로 반별 점수가 주어진다면

반별점수 = [
    ['홍길동',30,55,22],
    ['홍춘향',55,60,73],
    ['이철수',32,65,68],
    ['이호준',92,11,95],
]

In [ ]:
sorted(반별점수) # 값이나 0번째 값 기준으로 정렬합니다

In [ ]:
# 수학점수대로 정렬하기

def 함수(x) :
    return x[3]

sorted(반별점수, key = 함수) # 가장 중요한 것은 이 key함수의 return 값대로 정렬한다는 것입니다!

In [ ]:
sorted(반별점수, key = lambda x : x[2])

In [ ]:
# 문제 : 영어 점수대로 출력해주세요
# 정답 :

sorted(반별점수, key = lambda x : x[2])

[['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68]]

In [ ]:
# 문제 : 국, 영, 수, 평균 점수대로 출력해주세요
# 정답 :
sorted(반별점수, key = lambda x : x[1]+ x[2] + x[3]) # 나눌 필요 없고 총점이 가장 높은 사람이 이깁니다

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [ ]:
# 문제가 살짝 어려워집니다
# 동점자인 경우 수학 점수를 우선순위로 두겠습니다!

반별점수 = [
    ['홍길동', 50, 50, 50],
    ['이철수', 45, 50, 55],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95],
]

sorted(반별점수, key = lambda x : (x[1] + x[2] + x[3], x[0]), reverse =True)

In [ ]:
우편번호 = [
    {
        '주소' : '경기도 용인시',
        '우편번호' : 321
    }
    {
        '주소' : '경기도 수원시',
        '우편번호' : 355
    }
    {
        '주소' : '제주특별자치도 제주시',
        '우편번호' : 333
    }
]

# sorted(우편번호) # error, 비교를 할 수 없다
sorted(우편번호, key = lambda x : x['우편번호'])

In [ ]:
# 다음 입사문제
# 직선에 있는 점의 좌표입니다
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

s = [1,3,4,8,1,14,17,20]
s[1:]

[3, 4, 8, 1, 14, 17, 20]

In [ ]:
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 1), (1, 14), (14, 17), (17, 20)]

In [ ]:
# 이해를 하시진 마시고, 이해가 되시는 분들만 이해해주세요
# 제가 자주 사용하는 코드입니다

list(zip('hello', 'world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [ ]:
# 이건 제가 자주 사용하는 코드 X

list(enumerate(zip('hello', 'world')))

In [ ]:
# 제너레이터를 마듭니다

def gen() :
    i = 1
    while True:
        yield i
        i += 1

list(zip(gen(),'hello','world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

In [ ]:
s = [1,3,4,8,13,17,20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [ ]:
x = list(zip(s, s[1:]))
x[0]

(1, 3)

In [ ]:
sorted(x, key = lambda x : x[0] - x[1], reverse = True)

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
sum([10, 20, 30])
sum([10, 20, 30], 100)
sum([[1, 2, 3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [ ]:
sum([[1,2,3], [4,5,6]], [])

# [] + [1,2,3] == [1,2,3]
# [1,2,3] + [4,5,6] == [1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 어디까지 이해하고 어디까지 암기해야할까
# 책 => 이런 내용이 안나옵니다. 실무에서 빈도가 많은지에 대해 나오지 않습니다
# 암기해야 할 것을 암기하고, 버릴 것은 버리면서 부지런히 가시면

In [ ]:
# 다른 값이 출력될 수 도 있따는 것을 기억해야 합니다.
a = 10
print(a) # a.__str__
a # a.__repr__
repr(a) # a.__repr__

In [ ]:
# 실제 django에서 사용하는 코드

class Notice :
    '''
    게시물 클래스
    '''

    def __init__(self, title, contents) :
        self.title = title
        self.contents = contents


    def __str__(self) :
        return self.title

    def __repr__(self) :
        return f'{self.title}, {self.contents}'

게시물1 = Notice('파이썬 이렇게 어려울줄 몰랐다..', '내가 알던 파이썬이 아니야;;')
게시물2 = Notice('Django는 재미가 있나?', '파이썬을 잘 못해서 내가 할 수 있을까 들었는데...')

파이썬 이렇게 어려울줄 몰랐다..

In [ ]:
print(게시물1) # 로그로 출력할 때
# 게시물1
repr(게시물1) # 그 자료형을 대표하는 문자열 취급

파이썬 이렇게 어려울줄 몰랐다.., 내가 알던 파이썬이 아니야;;

In [ ]:
print(게시물1) # title

파이썬 이렇게 어려울줄 몰랐다..

In [ ]:
게시물1 # title, contents

파이썬 이렇게 어려울줄 몰랐다.., 내가 알던 파이썬이 아니야;;

In [ ]:
repr(게시물1) # title, contents

'파이썬 이렇게 어려울줄 몰랐다.., 내가 알던 파이썬이 아니야;;'

In [ ]:
``` python
강사님
    def __repr__(self) :
        return f'{self.title}, {self.contents}'
이 코드 계속 보고 있는데
__repr__ 메소드가
원래 파이썬 에서 코드가 저렇게 구성되어있는건가요
아니면 강사님이 임의로 만들어서 저렇게 출력이 나오는건가요?
```

SyntaxError: invalid syntax (<ipython-input-60-c0042356a6a4>, line 1)

In [ ]:
# 여러분들은 오히려 이런 코드아 아래 코드를

def 요일반환(요일) :
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',


    }

In [ ]:
# 0번 기초상식
# 0.0 __init__ 매직메서드는 없어도 되나요?
# 실제로 이런 코드를 짜실 일이 생깁니다


class 우편번호 :
    제주도 = 100
    서울시 = 101
    경기도 = 102
    전라북도 = 103
    전라남도 = 104

우편번호.제주도

# 왜 이걸 딕셔너리로 만들 지 않고 class로 만들었나?
# 재사용성 + 확장성

In [ ]:
# 1번
# 클래스를 설계하실 때
# 첫 번째로` 모든 인스턴스에서 공유해야할 (클래스 변수)나 메서드 설정
# 두 번쨰로 : 인스터스 고유의 영역

class Post :
    def __init__(
                 self,
                 in_title = '',
                 in_contents = '',
                 in_counts = 0,
                 in_created_at = '',
                 in_updated_at = '',
                 in_author = ''
                 ) :
        self.title = in_title
        self.contents = in_contents
        self.count = in_counts
        self.created_at = in_created_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __add__(self) :
        pass

    def __len__(self) :
        pass

    def update(self) :
        pass

    def delete(self) :
        pass


게시물1 = Post(
    '파이썬은 참 깊군요',
    '오늘은 맑아요',
    0,
    '2024-01-11',
    '-2024-01-11',
    '이호준'
)


print(게시물1)
print(게시물1.title)

<__main__.Post object at 0x7f8d80b8fd30>
파이썬은 참 깊군요

In [ ]:
# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}

3. 다음 문제를 풀고 정답을 제출해주세요.
3.1 https://100.pyalgo.co.kr/?page=10#
3.2 https://100.pyalgo.co.kr/?page=18#

In [ ]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data) :
    filtered_data = filter(lambda x : (x > 5 and x < 20) and x % 2 == 0, data)
    sum_of_data = sum(filtered_data)
    return sum_of_data

print(solution(number))

[]

In [ ]:
class 책() :
    책제목 = 'hello world python',
    책_내용_요약 = 'hello world...',
    저자 = '이호준',
    발행일 = '2024-01-11',
    가격 = 5000

    def 할인(self) :
         self.가격 = self.가격 * 0.9

수리통계학 = 책()
수리통계학.할인()
수리통계학.가격

4500.0

In [ ]:
star =[55,77,99]
star # repr

[55, 77, 99]

In [ ]:
print(star) # str

[55, 77, 99]

In [ ]:
class 난이도_조절 :

    def __init__(self,input_name,input_attack_stat,input_guard_stat,input_musle_stat,input_mana_stat):
        self.name = input_name
        self.attack_stat = input_attack_stat
        self.guard_stat = input_guard_stat
        self.musle_stat = input_musle_stat
        self.mana_stat = input_mana_stat

    def __str__(self) :
        #return f"{self.name}, {self.attack_stat}, {self.guard_stat}, {self.musle_stat}, {self.mana_stat}"
        return self.name, self.attack_stat, self.guard_stat, self.musle_stat, self.mana_stat

    def __repr__(self) :
        return f"{self.name}, {self.attack_stat}, {self.guard_stat}, {self.musle_stat}, {self.mana_stat}"
        #return self.name, self.attack_stat, self.guard_stat, self.musle_stat, self.mana_stat

    def total_stat(self) :
        return self.name, self.attack_stat, self.guard_stat, self.musle_stat, self.mana_stat

Licat = 난이도_조절('Licat', 98, 92, 85, 97)
Mura = 난이도_조절('Mura', 95, 32, 51, 30)
Binky = 난이도_조절('Binky', 98, 98, 51, 32)

characters = [Licat, Mura, Binky]
good_chars = [char for char in characters if char.total_stat() >= 350]

print(good_chars)

In [ ]:
class 난이도_조절 :

    def __init__(self,input_name,input_attack_stat,input_guard_stat,input_musle_stat,input_mana_stat):
        self.name = input_name
        self.attack_stat = input_attack_stat
        self.guard_stat = input_guard_stat
        self.musle_stat = input_musle_stat
        self.mana_stat = input_mana_stat

    def __str__(self) :
        return f"{self.name}, {self.attack_stat}, {self.guard_stat}, {self.musle_stat}, {self.mana_stat}"

    def __repr__(self) :
        return f"{self.name}, {self.attack_stat}, {self.guard_stat}, {self.musle_stat}, {self.mana_stat}"

    def solution(self):
        return self.attack_stat + self.guard_stat + self.musle_stat + self.mana_stat

Licat = 난이도_조절('Licat', 98, 92, 85, 97)
Mura = 난이도_조절('Mura', 95, 32, 51, 30)
Binky = 난이도_조절('Binky', 98, 98, 51, 32)

characters = [Licat, Mura, Binky]
good_chars = [char for char in characters if char.total_stat() >= 350]

for char in good_chars:
    print(char)

Licat, 98, 92, 85, 97

In [ ]:
def solution(characters) :
    # 능력이 합이 350이상인 캐릭터들의 이름을 저장할 리스트
    high_stat_chars = []

    # 각 캐릭터에 대해 능력치의 합을 계산

    for char in characters :
        if sum(char[1:]) >= 350:
            # print(char[1:])
            high_stat_chars.append(char[0])

    # 캐릭터들의 이름을 알파벳 순으로 정렬
    high_stat_chars.sort()

    # 결과를 출력
    print(high_stat_chars)

# 함수를 테스트 하는 코드

characters = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
solution(characters)

# high_stat_char 그릇 담기
# 캐릭터에서
# if sum(char[1:]) >= 350:
#     high_stat_chars

#characters[1:]

[98, 92, 85, 97]
['Licat']

In [ ]:
characters = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
len(characters)

3

In [ ]:
def solution(charachers) :
    # 입력의 길이와 각 능력치가 제한 사항을 만족하는지 확인

    if not (3 <= len(characters) <= 10) :
        return "캐릭터의 수는 3 이상 10 이하여야 합니다."

    # 능력치 합이 350 이상인 캐릭터들의 이름을 저장할 리스트
    high_stat_chars = []

    # 각 캐릭터에 대해 능력치의 합을 계산
    for char in charachers :
        valid_socre = [stat for stat in char[1:] if 10 <= stat <= 100]
    #   valid_stats = [stat for stat in char[1:] if 10 <= stat <= 100]
        if valid_score >= 350 :
            high_stat_chars.appends(char[0])

    # 캐릭터들의 이름을 알파벳 순으로 정렬
    high_stat_chars.sort()

    return high_stat_chars

# characters = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
# solution(characters)

In [ ]:
def solution(characters):
    # 입력의 길이와 각 능력치가 제한 사항을 만족하는지 확인
    if not (3 <= len(characters) <= 10):
        return "캐릭터의 수는 3 이상 10 이하이어야 합니다."

    # 능력치 합이 350 이상인 캐릭터들의 이름을 저장할 리스트
    high_stat_chars = []

    # 각 캐릭터에 대해 능력치의 합을 계산
    for char in characters:
        stats = char[1:]
        if any(not (10 <= stat <= 100) for stat in stats):
            return "능력치는 10 이상 100 이하이어야 합니다."
        if sum(stats) >= 350:
            high_stat_chars.append(char[0])

    # 캐릭터들의 이름을 알파벳 순으로 정렬
    high_stat_chars.sort()

    return high_stat_chars

In [ ]:
def solution(characters):
    # 입력의 길이가 제한 사항을 만족하는지 확인
    if not (3 <= len(characters) <= 10):
        return "캐릭터의 수는 3 이상 10 이하이어야 합니다."

    # 능력치 합이 350 이상인 캐릭터들의 이름을 저장할 리스트
    high_stat_chars = []

    # 각 캐릭터에 대해 능력치의 합을 계산
    for char in characters:
        # 10 이상 100 이하인 능력치만 고려하여 합을 계산
        valid_stats = [stat for stat in char[1:] if 10 <= stat <= 100]
        if sum(valid_stats) >= 350:
            high_stat_chars.append(char[0])

    # 캐릭터들의 이름을 알파벳 순으로 정렬
    high_stat_chars.sort()

    return high_stat_chars

In [ ]:
high_temper = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}

sorted(high_temper)

['2024-01-01',
 '2024-01-02',
 '2024-01-03',
 '2024-01-04',
 '2024-01-05',
 '2024-01-06',
 '2024-01-07']

In [ ]:
for i, j in high_temper.items() :
    #key,val
    print(f"{i},{j}")

2024-01-01,15
2024-01-02,17
2024-01-03,16
2024-01-04,20
2024-01-05,19
2024-01-06,21
2024-01-07,18

In [ ]:
def solution(weather_data):
    # 딕셔너리 값 기준 정렬 후, 상위 3개 선택
    sorted_data = sorted(weather_data.items(), key=lambda x: (-x[1], x[0]))
    hottest_days = sorted_data[:3]

    # 'YY-MM-DD: 온도' 형식으로 변환
    result = [f'{day[0][2:]}: {day[1]}' for day in hottest_days]

    return result

weather_data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
print(solution(weather_data))

['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']

In [ ]:
data_list = ['but','i','wont','hesitate','no','more','no','more','it','cannot','wait','im','yours']

for index in range(len(data_list)) :
    data_len = len(data_list[index])
    data_list[index] = (data_list[index], data_len)

data_list.sort(key = lambda x :(x[1], x[0]))
print(data_list)

[('i', 1), ('im', 2), ('it', 2), ('no', 2), ('no', 2), ('but', 3), ('more', 4), ('more', 4), ('wait', 4), ('wont', 4), ('yours', 5), ('cannot', 6), ('hesitate', 8)]

In [ ]:
key=lambda x: (-x[1], x[0])

In [ ]:
def solution(weather_data):
    # 딕셔너리 값 기준 정렬 후, 상위 3개 선택
    sorted_data = sorted(weather_data.items(), key=lambda x: (-x[1], x[0]))
    hottest_days = sorted_data[:3]

    # 'YY-MM-DD: 온도' 형식으로 변환
    result = [f'{day[0][2:]}: {day[1]}' for day in hottest_days]
    return result

weather_data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
print(solution(weather_data))

NameError: name 'day' is not defined

In [ ]:
weather_data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
sorted_data1 = sorted(weather_data.items(), key=lambda x: (-x[1], x[0]))
sorted_data2 = sorted(weather_data.items(), key=lambda x: (x[1], x[0]))
sorted_data3 = sorted(weather_data.items(), key=lambda x: (x[0], x[1]))

print(sorted_data1, 'key=lambda x: (-x[1], x[0]')
print(sorted_data2, 'key=lambda x: (x[1], x[0]')
print(sorted_data3, 'key=lambda x: (x[0], x[1]')

[('2024-01-06', 21), ('2024-01-04', 20), ('2024-01-05', 19), ('2024-01-07', 18), ('2024-01-02', 17), ('2024-01-03', 16), ('2024-01-01', 15)] key=lambda x: (-x[1], x[0]
[('2024-01-01', 15), ('2024-01-03', 16), ('2024-01-02', 17), ('2024-01-07', 18), ('2024-01-05', 19), ('2024-01-04', 20), ('2024-01-06', 21)] key=lambda x: (x[1], x[0]
[('2024-01-01', 15), ('2024-01-02', 17), ('2024-01-03', 16), ('2024-01-04', 20), ('2024-01-05', 19), ('2024-01-06', 21), ('2024-01-07', 18)] key=lambda x: (x[0], x[1]